body {
    background-color: #2B2B2B;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: column;
}

.flexrow {
    justify-content: center;
    display: flex;
    flex-flow: wrap;
}

h1 {
    color: white;
    font-size: 300%;
    margin-top: 8%;
    margin-bottom: 5%;
}

h2 {
    color: #FFAF60;
    font-size: 190%;
    margin-bottom: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

@media (min-width: 600px) {
    h1 {
        margin-top: 6%;
        margin-bottom: 2%;
    }
}