@media only screen and (max-width: 600px)
{

#sub{
    color: white;
}

#input-code{
    border-radius: 5px;
    background-color: #202020;
    width: 40%;
    height: 40px;
    color: white;
    font-size: 200%;
    text-align: center;
    outline: none;
    border-style: none;
    margin-top: 2%;

}

#join, button {
    background-color: #FFAF60;
    border-radius: 5px;
    width: 40%;
    height: 40px;
    color: #2B2B2B;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 0%;
}

#join:hover, button:hover {
     background-color: #FFBD7D;
    }
}

@media only screen and (min-width: 600px) {
    #sub {
        color: white;
    }

    .flex {
        display: flex;
        flex-direction: column;
    }

    #input-code {
        border-radius: 5px;
        background-color: #202020;
        width: 20%;
        height: 40px;
        color: white;
        font-size: 200%;
        text-align: center;
        outline: none;
        border-style: none;
        margin-top: 0%;

    }

    #join, button {
        background-color: #FFAF60;
        border-radius: 5px;
        width: 20%;
        height: 40px;
        color: #2B2B2B;
        border-style: none;
        font-size: 20px;
        font-weight: bold;
        margin-top: 0%;
        margin-bottom: 0%;
    }

    #join:hover, button:hover {
        background-color: #FFBD7D;
    }
}

