<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>playlists</title>
    <style>
        img {
            width: 200px;
        }
        input {
            float:left;
        }
    </style>
</head>
<body>
<h1>User playlists:</h1>
    {% for playlist in playlists %}
    <form action="tracks/" method="post">
           {% csrf_token %}
        <ul>
            <input type="hidden" name="playlist_id" value="{{ playlist.1 }}">
            <img src="{{ playlist.2 }}" alt="">
            <input type="submit" name="playlist_name" value="{{ playlist.0 }}">
        </ul>
    </form>
  {% endfor %}
</body>
</html>