<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>playlist_tracks</title>
</head>
<body>
<h1>User tracks:</h1>
<ul>
    {% for track in tracks %}
    <li>{{track}}</li>
    {% endfor %}
</ul>
<h3>Start Session on Device:</h3>
  {% for d in devices.devices %}
    <form action="play" method="post">
        {% csrf_token %}
        <input type="hidden" name="device_id" value="{{ d.id }}">
        <input type="hidden" name="p_id" value="{{ p_id }}">
        <input type="submit" value="{{ d.name }}">
    </form>
  {% endfor %}

<p>No device displayed?</p>
<p>Make sure spotify app is opened on your device</p>

</body>
</html>