<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shared Playlist</title>
    <style>
        .votable_song{
            background-color: #00993d;
        }
    </style>
</head>
<body>
<h1>Websocket Test Env</h1>
<form id="form" method="post">
    {% csrf_token %}
    <input type="submit" value="Start Session">
</form>



<p id="timer"></p>

<div id="playing_song"></div>
<br>
<br>
<div id="votable_songs"></div>

{% block script %}
<script>

console.log(window.location);
// vars for appending selected songs
let playing_song_card = document.getElementById("playing_song");
let votable_song_card = document.getElementById("votable_songs");

// var section for button
var loc = window.location;
var formData = document.getElementById("form");

// var section for timer
let timer = document.getElementById("timer");
    timer.style.display = "block";

// Websocket routing
var wsStart = 'ws://';
if(loc.protocol === 'https:') {
    wsStart = 'wss://';
}

var endpoint = wsStart + loc.host + loc.pathname;//
var socket = new WebSocket(endpoint);

// Receiving Python Data
socket.onmessage = function(e)
{
    console.log(e);
    console.log(e.data);

    // session is initialized (either with session_init or user_session_init
    if(e.data.includes('session_init')){
        const from_json = JSON.parse(e.data);
        console.log(from_json);

        fillCards(from_json);
    }

    // votes are refreshed
    else if(e.data.includes('votes_refresh')) {
        const from_json = JSON.parse(e.data);
        console.log(from_json);

        let votable_songs = from_json["votable_songs"];

        // replace old vote count with new values
        votable_songs.forEach(function(song){
            let vSongCard = document.getElementById(song["song_id"]);
            let voteCounter = vSongCard.getElementsByClassName("vote_counter");
            voteCounter[0].innerText = "Votes: " + String(song["votes"]);
        });
    }

    // session is refreshed
    else if(e.data.includes('session_refresh')) {
        const from_json = JSON.parse(e.data);
        console.log(from_json);
        playing_song_card.innerHTML = '';
        votable_song_card.innerHTML = '';
        fillCards(from_json);
    }
}

// fills placeholder cards with data from JSON-Object
function fillCards(from_json){
        // get data from json object
        let playing_song = from_json["playing_song"];
        let votable_songs = from_json["votable_songs"];

        // create html elements for now playing song from data
        let pSong_headline = document.createElement("H5");
        pSong_headline.innerText = "Now Playing:"

        let pSong_name = document.createElement("P");
        pSong_name.innerText = playing_song["title_and_artist"];

        let pSong_length = document.createElement("P");
        pSong_length.innerText = "Length: " + playing_song["length"] + " sek.";

        // append html elements for now playing song to placeholder div
        playing_song_card.appendChild(pSong_headline);
        playing_song_card.appendChild(pSong_name);
        playing_song_card.appendChild(pSong_length);

        let brEl = document.createElement("BR");

        // for each votable song in the dataset create div with html elements and EventListener
        votable_songs.forEach(function(song){
            let vSongCard = document.createElement("DIV");
            vSongCard.className = "votable_song";
            vSongCard.id = song["song_id"];

            let vSong_name = document.createElement("P");
            vSong_name.innerText = song["title_and_artist"];
            let vSong_votes = document.createElement("P");
            vSong_votes.className = "vote_counter"
            vSong_votes.innerText = "Votes: " + String(song["votes"]);

            // append html elements to div
            vSongCard.appendChild(vSong_name);
            vSongCard.appendChild(vSong_votes);

            // add EventListener to send clicked song-id over websocket as vote
            vSongCard.addEventListener('click', function(event){
                event.preventDefault();
                socket.send(String(vSongCard.id))
            });

            // append divs to placeholder div
            votable_song_card.appendChild(vSongCard);
            votable_song_card.appendChild(brEl);
        });
}

// Sending Data to Python
socket.onopen = function(e)
{
    console.log("open", e);
     <!-- Sending Data of type timer -->
    formData.addEventListener("submit", function (event)
    {
        event.preventDefault();
         <!-- Triggering new countdown -->
        socket.send("start_party_session")
    });
}

socket.onerror = function(e)
{
    console.log("error", e);
}

socket.onclose = function(e)
{
    console.log("close", e);
    // try redirecting back to index page
    window.location.replace("http://127.0.0.1:8000");
}

</script>
{% endblock %}
</body>
</html>