<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shared Playlist</title>
    <style>
        #song_cover{
            width: 20%;
        }
    </style>
</head>
<body>
<h1>Websocket Test Env</h1>
<form id="form" method="post">
    {% csrf_token %}
    <input type="submit" value="Start Session">
</form>



<p id="timer"></p>

<div id="playing_song"></div>
<br>
<br>
<div id="votable_songs"></div>

{% block script %}
<script>

console.log(window.location);
// vars for appending selected songs
let playing_song_card = document.getElementById("playing_song");
let votable_song_card = document.getElementById("votable_songs");

// var section for button
let loc = window.location;
let formData = document.getElementById("form");

// var section for timer
let timer = document.getElementById("timer");
    timer.style.display = "block";

// Websocket routing
let wsStart = 'ws://';
if(loc.protocol === 'https:') {
    wsStart = 'wss://';
}

let endpoint = wsStart + loc.host + loc.pathname;//
let socket = new WebSocket(endpoint);

// Receiving Python Data
socket.onmessage = function(e) {
    let message = JSON.parse(e.data);
    let message_text = message.text;

    console.log(message_text)

    if(message_text["type"]=="session_init" || message_text["type"]=='user_session_init'){
        fillCards(message_text);
    }
    // votes are refreshed
    else if(message_text["type"]=="votes_refresh") {

        let votable_songs = message_text["votable_songs"];
        let votable_song_cards = document.getElementsByClassName('votable_song');
        // replace old vote count with new values
        for( let i=0; i<votable_songs.length; i++){
            let voteCounter = votable_song_cards[i].getElementsByClassName("vote_counter")[0]
            voteCounter.innerText = "Votes: " + String(votable_songs[i]["votes"]);
        }
    }
    // session is refreshed
    else if(message_text["type"]=="session_refresh") {
        playing_song_card.innerHTML = '';
        votable_song_card.innerHTML = '';
        fillCards(message_text);
    }
}

// fills placeholder cards with data from JSON-Object
function fillCards(message_text){
        // get data from json object
        let playing_song = message_text['playing_song'];
        let votable_songs = message_text['votable_songs'];

        // create html elements for now playing song from data
        let pSong_headline = document.createElement("H5");
        pSong_headline.innerText = "Now Playing:";

        let pSong_cover = document.createElement("IMG");
        pSong_cover.src = playing_song["cover_link"];
        pSong_cover.id = "song_cover";
        let pSong_name = document.createElement("P");
        pSong_name.innerText = playing_song["title"] + " - " + playing_song["artist"];

        let pSong_length = document.createElement("P");
        pSong_length.innerText = "Length: " + playing_song["length"] + " ms.";

        // append html elements for now playing song to placeholder div
        playing_song_card.appendChild(pSong_headline);
        playing_song_card.appendChild(pSong_cover);
        playing_song_card.appendChild(pSong_name);
        playing_song_card.appendChild(pSong_length);

        let brEl = document.createElement("BR");

        // for each votable song in the dataset create div with html elements and EventListener
        votable_songs.forEach(function(song){
            let vSongCard = document.createElement("DIV");
            vSongCard.className = "votable_song";
            vSongCard.id = song["song_id"];

            let vSong_cover = document.createElement("IMG");
            vSong_cover.src = song["cover_link"];
            vSong_cover.id = "song_cover";
            let vSong_name = document.createElement("P");
            vSong_name.innerText = song["title"] + " - " + song["artist"];
            let vSong_votes = document.createElement("P");
            vSong_votes.className = "vote_counter"
            vSong_votes.innerText = "Votes: " + String(song["votes"]);

            // append html elements to div
            vSongCard.appendChild(vSong_cover);
            vSongCard.appendChild(vSong_name);
            vSongCard.appendChild(vSong_votes);

            // add EventListener to send clicked song-id over websocket as vote
            vSongCard.addEventListener('click', function(event){
                event.preventDefault();
                socket.send(String(vSongCard.id))
            });

            // append divs to placeholder div
            votable_song_card.appendChild(vSongCard);
            votable_song_card.appendChild(brEl);
        });
}

// Sending Data to Python
socket.onopen = function(e)
{
    console.log("open", e);
     <!-- Sending Data of type timer -->
    formData.addEventListener("submit", function (event)
    {
        event.preventDefault();
         <!-- Triggering new countdown -->
        socket.send("start_party_session")
    });
}

socket.onerror = function(e)
{
    console.log("error", e);
}

socket.onclose = function(e)
{
    console.log("close", e);
    // try redirecting back to index page
    window.location.replace("http://127.0.0.1:8000");
}

</script>
{% endblock %}
</body>
</html>