<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpotifyParty</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_settings.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>Settings</h1>
<br>
<br>
<div class="flex">
    <form action="" method="post">
        {% csrf_token %}

        <label for="playlist" class="label">Select your Playlist</label>
        <div class="select-playlist">
            <select id="playlist" name="playlist">
                {% for playlist in playlists %}
                    <option value={{ playlist.playlist_id }}>{{ playlist.playlist_name }}</option>
                {% endfor %}
            </select>
        </div>
        <p class="error_msg">{{ error_msg1 }}</p>
        <br>
        <label for="device" class="label">Select your Device</label>
        <div class="select-device">
            <select id="device" name="device">
                {% for device in devices %}
                    <option value={{ device.device_id }}>{{ device.device_name }}</option>
                {% endfor %}
            </select>
        </div>
        <p class="error_msg">{{ error_msg2 }}</p>
        <p><input value="Select" type="submit"></p>
    </form>
</div>
</body>
</html>